/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   */

   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed, 
   figure, figcaption, footer, header, hgroup, 
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure, 
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

   .links{
   	color: white;
   	text-decoration: none;
   	font-family: 'Roboto', sans-serif;
   }

   .body{
   	background-color: #0d202b;
   	color: white;
   	font-size: 1.5rem;
   	margin: 00px 8px;
   }

   .imagem{
   	display: flex;
   	justify-content: center;
   	background-color: white;
   	width: 100%;
   	height: 250px

   }

   .titulo{
   	display: flex;
   	justify-content: flex-start;
   	font-family: 'Roboto Slab', serif;
   	font-size: 48px;
   	margin: 32.16px 0px
   }

   .logo{
   	height: 38px;
   	margin: 5px;
   }

   #topo {
   	display: flex;
   	list-style-type: none;
   	margin-top: 0;
   	padding: 0;
   	overflow: hidden;
   	background-color: #293b45;
   	margin-block-start: 0.5em;
   	margin-block-end: 1em;
   	margin-inline-start: 0px;
   	margin-inline-end: 0px;
   	padding-inline-start: 40px;
   }

   .itens{
   	justify-content: center;
   	display: flex;
   	list-style-type: none;
   	margin: 0;
   	padding: 0;
   	overflow: hidden;
   	background-color: #333;

   }

   .descricao{
   	font-family: 'Roboto', sans-serif;
   	font-size: 1rem;
   }

   .descricao-categoria{
   	font-family: 'Roboto', sans-serif;
   }

   li a {
   	float: left;
   	border-right:1px solid #bbb;
   }

   li a :last-child {
   	border-right: none;
   }

   li a {
   	display: block;
   	color: white;
   	text-align: center;
   	padding: 14px 16px;
   	text-decoration: none;
   	font-family: 'Roboto Slab', serif;
   	background-color: #293b45;
   }

   li a:hover:not(.active) {
   	background-color: #486678;
   }

   .active {
   	background-color: #103246;
   }

   .geral{
   	display: flex;
   	flex-wrap: wrap;
   	align-items: center;
   	justify-content: center;
   }

   .item-tabela{
   	display: flex;
   	flex-direction: row;
   	max-width: 40%;
   	padding-bottom: 3rem;
   	padding-left: 3rem;
   }

   .texto{
   	display: flex;
   	flex-direction: column;
   	padding-left: 1rem;
   	padding-right: 3rem;
   	max-width: 70%;
   }

   .descricao-categoria{
   	align-content: flex-end;
   	font-family: 'Roboto', sans-serif;
   }

   .inicio{
   	margin: 2rem;
   	display: flex;
   	flex-direction: row;
   }

   h2{
   	font-family: 'Roboto', sans-serif;
   }

   .titulo-categoria{
   	padding-bottom: 1rem;
   }