.body {
	background-color: #0d202b;
	color: white;
	font-size: 1.5rem;
	margin: 00px 8px;
}

.imagem {
	display: flex;
	justify-content: center;
	background-color: white;
	width: 100%;
	height: 250px;
}

.imagem-projeto {
	height: 400px;
	justify-content: center;
	padding-right: 2rem;
}

.titulo {
	display: flex;
	justify-content: flex-start;
	font-family: "Roboto Slab", serif;
	font-size: 48px;
	margin: 32.16px 0px;
}

.titulo-projeto {
	display: flex;
	justify-content: center;
	font-family: "Roboto Slab", serif;
	font-size: 48px;
	margin: 32.16px 0px;
	padding-left: 0px;
}

.titulo-categoria {
	padding-bottom: 1rem;
}

.logo {
	height: 38px;
	margin: 5px;
}

.topo {
	display: flex;
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	overflow: hidden;
	background-color: #293b45;
	margin-block-start: 0.5em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

.topo {
	justify-content: center;
	display: flex;
	list-style-type: none;
	margin: 0.5rem;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.categoria {
	font-family: "Roboto Slab", serif;
	padding-bottom: 1rem;
}

.descricao {
	font-family: "Roboto", sans-serif;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.descricao-categoria {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
}

li a {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "Roboto Slab", serif;
	background-color: #293b45;
}

li a:hover:not(.active) {
	background-color: #486678;
}

.active {
	background-color: #103246;
}

.geral {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item-tabela {
	align-content: row;
	text-align: center;
	padding: 14px;
	max-width: 20rem;
	min-width: 20%;
	padding-left: 0;
	margin-bottom: 3rem;
}

.item-categoria {
	display: flex;
	flex-direction: row;
	max-width: 40%;
	padding-bottom: 3.5rem;
	padding-left: 3rem;
}

.links {
	color: white;
	text-decoration: none;
	font-family: "Roboto Slab", serif;
}

.itens {
	justify-content: center;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.texto {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 3rem;
	max-width: 70%;
}

h2 {
	font-size: 2rem;
	font-family: "Roboto Slab", serif;
}

.texto-projeto {
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
	padding-left: 1rem;
	padding-right: 3rem;
	max-width: 50%;
	justify-content: space-between;
}

@media (max-width: 380px) {
	.qqq{
		display: none;
	}
	.topo {
		position: absolute;
		top: -400px;
	}
	.logo {
		display: none;
	}
	.topo {
		padding: 0;
		background-color: #0d202b;
		margin-bottom: 12px;
		text-align: center;
		font-size: 16px;
	}

	.item-menu {
		min-width: 100%;
		text-align: center;
		padding-left: 0px;
	}

	.active {
		min-width: 100%;
		text-align: center;
		padding-left: 0px;
	}

	.menu-icon {
		height: 50px;
		left: 0px;
		top: 0px;
		position: absolute;
	}
	.menu-icon:hover + .topo {
		position: absolute;
		top: 35px;
		left: 0;
		display: flex;
		flex-direction: column;
	}

	.titulo {
		text-align: center;
	}

	.titulo-projeto {
		padding-top: 20px;
		justify-content: center;
		font-size: 40px;
	}

	li a {
		float: left;
		border-bottom: 1px solid #bbb;
	}

	.imagem-projeto {
		height: 300px;
		padding-right: 0px;
	}

	h2 {
		padding-top: 1rem;
		font-size: 1.5rem;
	}

	.texto-projeto {
		font-size: 15px;
		margin-top: 0.1rem;
		max-width: 80%;
		text-align: center;
		padding: 0%;
	}

	.paragrafo-projeto {
		padding-top: 4px;
	}

	

}

@media (min-width: 376px) {
	.menu-icon {
		display: none;
	}
}
